body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Ensure body takes up at least the full height of the viewport */
  display: flex;
  flex-direction: column; /* Allows the footer to stick to the bottom */
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navheader {
  color: #008912;
  padding: 20px;
}

.navheader h1 {
  margin: 0;
  text-decoration: underline;
}
.navheader nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navheader nav ul li {
  display: inline-block;
  margin-left: 20px;
  border: 2px solid #008912;
  border-radius: 20px;
  padding: 10px;
}

.navheader nav ul li:first-child {
  margin-left: 0;
}

.navheader nav ul li a {
  color: #008912;
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navheader nav ul li a:hover {
  color: #ccc;
}

.main-content {
  display: flex;
  padding: 20px;
  color: #008912;
  background-color:#ffffff ;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #008912;
}

.section {
  margin-bottom: 20px;
}

.section h2 {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 5px;
}

button {
  background-color: #77a8d8;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #555;
}
.content-wrapper {
  display: flex;
  justify-content: space-between;
}

.text {
  flex: 1;
  font-size: x-large;
  color: #008912;
  text-align: center;
  align-self: center;
}

.gif {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.gif img {
  max-width: 100%; 
  max-height: 100%;
}

.logo {
  text-align: center;
}

.logo img {
  width: 300px;
  max-width: 100%;
  height: auto;
}
.contact-info {
  margin-top: 20px;
}

.contact-info ul {
  list-style-type: none;
  padding: 0;
  text-align: center; /* Center the items horizontally */
}

.contact-info ul li {
  display: inline-block; /* Display items horizontally */
  margin-right: 20px; /* Adjust spacing between items */
}

.contact-info ul li img {
  margin-right: 5px; /* Adjust margin between image and text */
  vertical-align: middle; /* Align image vertically */
  width: 20px; /* Adjust size as needed */
  height: 20px;
}

.contact-info ul li a {
  color: #ffffff;
  text-decoration: none;
}

.contact-info ul li a:hover {
  text-decoration: underline;
}

.logo {
  text-align: center;
  margin-top: 20px; /* Adjust margin as needed */
}

.logo img {
  width: 300px;
  max-width: 100%;
  height: auto;
}

.footer {
  color: #ffffff;
  padding: 10px;
  text-align: center;
  margin-top: auto;
  background-color: #00ab12; /* Dark green background */
}
.f-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}