body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #00b8ff;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navheader {
  background-color: #001eff;
  color: #fff;
  padding: 20px 0;
}

.navheader h1 {
  margin: 0;
}

.navheader nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navheader nav ul li {
  display: inline-block;
  margin-left: 20px;
}

.navheader nav ul li:first-child {
  margin-left: 0;
}

.navheader nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navheader nav ul li a:hover {
  color: #ccc;
}

.main-content {
  padding: 20px;
  background: #fff;
  margin-top: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
  margin-bottom: 20px;
}

.section h1 {
  border-bottom: 2px solid #77a8d8;
  padding-bottom: 5px;
}

button {
  background-color: #77a8d8;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #555;
}

.contact-container {
  max-width: 400px; 
  margin: 20px auto; 
}

.contact-container .section {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-container h1 {
  margin-top: 0;
  font-size: 24px;
}

.contact-container img {
  max-width: 50px;
  margin-right: 10px;
}

.contact-container p {
  margin: 5px 0;
}

.contact-container a {
  color: #007bff;
  text-decoration: none;
}
